@using DigitalSignage.Domain;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>:: Digital Signage ::</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/datatables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css">
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="~/Content/sample_template.css">

    <link href="~/Content/Style/customDirective.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    
    <link href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style/grapes.min.css" rel="stylesheet" />
    
    <link rel="icon" href="~/Images/wipro.ico">

    <!--[if lt IE 9]>
        <script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    @*@Styles.Render("~/Content/css")*@
</head>


<body class="ms_root" ng-app="MyApp" ng-controller="PlayerController">
    @* Loading Bar started *@
    
    <div class="loadBg" ng-show="loader" style="z-index:99">
        
        <div ng-cloak ng-controller="loaderController"></div>
        <div class="data_loadingxt1" ng-show="loader">Data Loading...</div>
        <img src="~/Images/trans.png" alt="Wipro" width="100%" height="100%" border="0" alt="Loading..." />
    </div>

    <div class="container-fluid posi_relative">
        
        <div ng-show="parentBgHome" class="parentBg hidden-xs"></div>
        <div class="parentBg2 hidden-xs"></div>
        <nav class="navbar1 navbar-default">
            <div class="brandBlock">
                <h2 class="digiGradi1">Digital Signage</h2>
            </div>
            <div class="rgtUserDetials">
                <ul class="nav navbar-nav navbar-right rgt_right_ul">
                    <li class="welcome_note">
                        <span>
                            Welcome<br>
                        </span>
                        <span class="user"><img src="~/Images/user.png" /></span>
                    </li>
                    <li class="dropdown rgt_right_ul_li">
                        @if (Session["SignInType"] != null && Session["SignInType"].ToString() == "ADLogin")
                        {
                            UserViewModel loginuser = new UserViewModel();
                            loginuser.UserName = User.Identity.Name;
                            Session["UserName"] = loginuser.UserName;

                            <a href="#" class="dropdown-toggle rgt_drp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@HttpContext.Current.Session["UserName"] <span class="right_user_Arrow"><img src="~/Images/right_user_Arrow.png" /></span></a>
                        }
                        else
                        {
                        <a href="#" class="dropdown-toggle rgt_drp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@HttpContext.Current.Session["UserName"] <span class="right_user_Arrow"><img src="~/Images/right_user_Arrow.png" /></span></a>
                        }
                        <ul class="dropdown-menu">
                            @*<li><a href="#">User Profile</a></li>
                            <li><a href="#">Profile Settings</a></li>*@
                            <li><a data-toggle="modal" href="#changePassword" ng-click="resetPassData()">Change password</a></li>
                            <li>@Html.ActionLink("Logout", "SignOut", "Account")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
            <nav class="navbar navbar-default">
                <div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> 
                        <a class="navbar-brand logo1_align" href="#"><img src="~/Images/wipro.png" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling  -->

                    <div class="collapse navbar-collapse nav_align" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main_menu wideScrn ">
                            @*<li> @Html.ActionLink("Dashboard", "Dashboard", "Home") </li>*@
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Device
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu mobiPosi">
                                    <li>@Html.ActionLink("Device", "Player", "Home")</li>
                                    <li>@Html.ActionLink("Device Group", "PlayerGroup", "Home")</li>
                                </ul>
                            </li>*@
                            <li>@Html.ActionLink("Home", "HomePage", "Home")</li>
                            <li>  @Html.ActionLink("Content", "Scenes", "Home") </li>
                            <li>  @Html.ActionLink("Playlist", "Campaign", "Home") </li>
                            <li>  @Html.ActionLink("Device Group", "Station", "Home") </li>
                            <li>  @Html.ActionLink("Device", "Player", "Home") </li>
                            
                            
                            @if (Session["LoggedUser"] != null)
                            {
                                UserViewModel loggedUser = new UserViewModel();
                                loggedUser = (UserViewModel)Session["LoggedUser"];

                                if (loggedUser.Role != "User")
                                {
                                    <li> @Html.ActionLink("Admin", "Settings", "Home") </li>
                                }
                               
                            }

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
                <div class="bg_gradi"></div>
            </nav>

            <div class="clearfix"></div>
        <!-- Modal -->
        <div class="modal fade" id="changePassword" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        <h4 class="modal-title"><b>Change Password</b></h4>
                    </div>
                    <div class="modal-body">
                        <span class="alert" ng-class="showErrMsg == 'Success'?'alrtTxtSuccess':'failMsg'" id="success" ng-bind="errMsg"></span>
                        <div class="form-group">
                            <div class="">
                                <label>Old password</label>
                                <input type="password" class="form-control"ng-model="password.oldPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label>New password</label>
                                <input type="password" class="form-control"ng-model="password.newPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label>Confirm password</label>
                                <input type="password" class="form-control" ng-model="password.confirmPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn btn-info" ng-disabled="((password.oldPassword == undefined || password.oldPassword== null) && (password.newPassword == undefined || password.newPassword== null)|| (password.confirmPassword == undefined || password.confirmPassword== null))" ng-click="updatePassword(password)">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
            @*<div class="col-md-6 col-sm-5 col-xs-11">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{cUrl}}">{{state}}</a></li>
                    <li class="breadcrumb-item">{{substate}}</li>
                    <li class="breadcrumb-item active">{{ChildOfSubstate}}</li>
                </ol>
            </div>*@
            @*<div class="col-md-3 col-sm-5  col-xs-12 pull-right searchPanel">
                <form>
                    <input class="search" type="text" name="search" placeholder="Search..">
                </form>
            </div>*@
            <div class="clearfix"></div>
</div>

    @RenderBody()
    @* Lib files listed *@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="~/Scripts/angular-ui/angular-route.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/lib/angular-datatables.min.js"></script>
    <script src="~/Scripts/angular-ui/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/Scripts/angular-ui/angular-drag-and-drop-lists.js"></script>
    <script src="~/Scripts/lib/loading-bar.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/lib/grapes.min.js"></script>
    <script src="~/Scripts/lib/grapesjs-plugin-export.min.js"></script>
    <script src="~/Scripts/lib/html2canvas.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    @* Javascript files  *@
    <script src="~/Scripts/AngularControllers/MyApp.js"></script>
    <script src="~/Scripts/AngularControllers/campaign.js"></script>
    <script src="~/Scripts/AngularControllers/catalogue.js"></script>
    <script src="~/Scripts/AngularControllers/scenesView.js"></script>
    <script src="~/Scripts/fileUploader.js"></script>
    <script src="~/Scripts/AngularControllers/stationView.js"></script>
    <script src="~/Scripts/AngularControllers/playerView.js"></script>
    <script src="~/Scripts/AngularControllers/setting.js"></script>
    <script src="~/Scripts/AngularControllers/PlayerGroup.js"></script>
    <script src="~/Scripts/AngularControllers/report.js"></script>
    @*<script src="~/Scripts/Filter/dateFilter.js"></script>*@
    <script src="~/Scripts/Directives/customTemplate.js"></script>
    <script src="~/Scripts/AngularControllers/dashBoard.js"></script>
    <script src="~/Scripts/AngularControllers/createNewPlayer.js"></script>
    <script src="~/Scripts/AngularControllers/homePage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $('.testDiv').slimScroll({
                alwaysVisible: true,
                railVisible: true
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
